fastapi
uvicorn
streamlit
mysql-connector-python
python-jose
passlib[bcrypt]
python-dotenv
loguru
sentence-transformers
faiss-cpu
langchain
PyMuPDF
pdfplumber
python-docx
requests
pydantic
email-validator
python-multipart